
# ======================
# Python
# ======================
__pycache__/
**/__pycache__/
venv/
*.pyc

# ======================
# Node / Frontend
# ======================
node_modules/
dist/

# ======================
# Logs / temp
# ======================
*.log
*.xlsx

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
